@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide native browser password reveal eye icon in Edge, IE, Chrome, and Safari */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden !important;
  pointer-events: none !important;
  position: absolute !important;
  right: 0 !important;
}

@layer base {
  body {
    @apply bg-[#0A1931];
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}